body {
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir", sans-serif;
}

h1 {
  color: #fff;
  background-color: steelblue;;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 0;
  padding: 20px 0;
}

#colorDisplay {
  font-size: 200%;
}

#message {
  display: inline-block;
  width: 15%;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
  transition: background 0.5s;
}

#stripe {
  background-color: #fff;
  height: 30px;
  color: #000;
  text-align: center;
}

.selected {
  color: #fff;
  background-color: steelblue;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  font-size: inherit;
  font-weight: 700;
  letter-spacing: 1px;
  color: steelblue;
  height: 100%;
  transition: all 0.2s;
  outline: none;
}

button:hover {
  color: #fff;
  background-color: steelblue;
}